<h1>Metrics</h1>
<p>Click on a metric to view values</p>

<ul>
<% @metrics.each do | metric | %>
  <li><a href="/metrics/<%= external_id(metric["href"]) %>/?name=<%= URI.escape(metric["name"]) %>"><%= metric["name"] %></a>
<% end %>
</ul>
